@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-bricolage: var(--font-bricolage-grotesque);
  --font-tartuffo: var(--font-tartuffo);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
.shadow-button {
  box-shadow: 0px -6px 20.3px 0px #2e90fa inset;
}
font-tartuffo {
  font-family: var(--font-tartuffo);
}

@media screen and (max-width: 767px) {
  .hero {
    top: 320px;
  }
}